# CSV files
*.csv

#Ignore all xlsx files
*.xlsx
*.xls

# Ignore RStudio project files
**.Rproj
**.Rhistory
**.RData
**.Rproj.User/

*.Rproj
*.Rhistory
*.RData
*.Rproj.User/

.Rproj
.Rhistory
.RData
.Rproj.User/

